input[type=submit]{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}
input[type=submit]:active{
	transform: scale(0.95);
}

input[type=submit]:focus{
	outline: none;
}
input[type=submit].ghost{
	background-color: transparent;
	border-color: #FFFFFF;
}

input[type=text],input[type=number]{
    background-color: #eee;
	border: 1px solid;
    padding: 8px 15px;
    margin-bottom: 1px;
	width: 75%;
}
#id_publisher{
     background-color: #eee;
	border: 1px solid;
	padding: 8px 15px;
	margin: 8px 0;
	width: 90%;
}